
# DATABASE
DB_URL=test--db--url--pipeline
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=


# MAIL
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_FROM=

# GEOCODING
NOMINATIM_BASE_URL=
NOMINATIM_USER_AGENT=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=